<tr>
  <tb><em><strong>{{label}}</strong></em>:</tb>
</tr>
<tr>
  <tb><button class="btn btn-warning" {{action 'decreaseStat'}}>--</button></tb>
  <tb>{{ stat }}</tb>
  <tb><button class="btn btn-success"{{action 'increaseStat'}} disabled= {{unless hasPointsLeft 'disabled'}}>++</button></tb>
</tr>