<div class ="row">
  <div class="col-sm-3">
    <div class="row">

      <span class="col-sm-3"><span class = lead>Name</span>: {{ character.name }}</span>
      <span class="col-sm-3"><span class = lead>Class</span>: {{ character.className }}</span>
     </div>
      <div class="row">

      <span class="col-sm-3"><span class = lead>Health</span>: {{ character.maxHealth }}</span>
      <span class="col-sm-3"><span class = lead>MANA</span>: {{ character.maxMana }}</span>
     </div>


  </div>


  <div class="col-sm-3">

    <table class="table table-striped">
      <tbody>


        {{character-stat-mod label='strength' stat=character.strength }}
        {{character-stat-mod label='wisdom' stat=character.wisdom }}
        {{character-stat-mod label='dexterity' stat=character.dexterity }}
        {{character-stat-mod label='constitution' stat=character.constitution }}
        {{character-stat-mod label='charisma' stat=character.charisma }}
        {{character-stat-mod label='intelligences' stat=character.int }}



      </tbody>
     </table>


  </div>

  <div class="col-sm-3">
<div>
  Items:
</div>
<div>
  <button {{ action 'addItem' }}>add</button>
  {{#if hasItems}}
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Weight</th>
        <th>&nbsp;</th>
      </thead>

      <tbody>

      {{#each character.items as |item|}}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.weight }}</td>
          <td><button class="btn btn-danger"{{ action 'removeItem' item }}>remove</button></td>
        </tr>

      {{/each}}
      </tbody>
    </table>
   {{else}}
     <div> RUN AWAY!! no items...</div>
   {{/if}}
</div>

  </div>
</div>


<button type = "button" class="btn btn-primary btn-lg btn-block" {{action 'increaseStat' 'level' }}>Level Up!</button>
<button type = "button" class="btn btn-primary btn-lg btn-block" {{action 'addCharacter'}}>new char</button>
<button type = "button" class="btn btn-primary btn-lg btn-block" {{action 'deleteCharacter' character}}>delete</button>

      {{#each characters as |character|}}
          <span>
          <button class="btn" {{action 'changeCharacter' character}}>

            {{ character.name }} {{character.level}}

          </button>
          </span>

      {{/each}}

