<p></p>
<section id= "sec-one">
<table>


  <tr>

      <td><span class = lead> Name</span>: {{ character.name }}</td>
      <td><span class = lead>Class</span>: {{ character.className }}</td>
  </tr>

  <tr>
       <td><span class = lead>Max Health</span>: {{ character.maxHealth }}</td>
       <td><span class = lead>Max MANA</span>: {{ character.maxMana }}</td>
  </tr>

</table>

</section>

<section id= "sec-two">

<div>
  <em><strong>strength</strong></em>:
</div>
<div>
  <a class="btn btn-warning" {{action 'decreaseStat' 'strength'}}>--</a>
  <span>{{ character.strength }}</span>
  <a class="btn btn-success"{{action 'increaseStat' 'strength'}}>++</a>
</div>

<div>
  <em><strong>wisdom</strong></em>:
</div>
<div>
  <a class="btn btn-warning"{{action 'decreaseStat' 'wisdom'}}>--</a>
  <span>{{ character.wisdom }}</span>
  <a class="btn btn-success"{{action 'increaseStat' 'wisdom'}}>++</a>
</div>

<div>
  <em><strong>dexterity</strong></em>:
</div>
<div>
  <a class="btn btn-warning"{{action 'decreaseStat' 'dexterity'}}>--</a>
  <span>{{ character.dexterity }}</span>
  <a class="btn btn-success"{{action 'increaseStat' 'dexterity'}}>++</a>
</div>

<div>
  <em><strong>Constitution</strong></em>:
</div>
<div>
  <a class="btn btn-warning" {{action 'decreaseStat' 'constitution'}}>--</a>
  <span>{{ character.constitution }}</span>
  <a class="btn btn-success"{{action 'increaseStat' 'constitution'}}>++</a>
</div>

<div>
  <em><strong>charisma</strong></em>:
</div>
<div>
  <a class="btn btn-warning" {{action 'decreaseStat' 'charisma'}}>--</a>
  <span>{{ character.charisma }}</span>
  <a class="btn btn-success"{{action 'increaseStat' 'charisma'}}>++</a>
</div>

<div>
  <em><strong>intelligences</strong></em>:
</div>
<div>
  <a class="btn btn-warning" {{action 'decreaseStat' 'int'}}>--</a>
  <span>{{ character.int }}</span>
  <a class="btn btn-success"{{action 'increaseStat' 'int'}}>++</a>
</div>


</section>


<section id= "sec-three">

<div>
  Items:
</div>
<div>
  <button {{ action 'addItem' }}>add</button>
  {{#if hasItems}}
    <table>
      <tr>
        <td>Name</td>
        <td>Weight</td>
        <td></td>
      </tr>
      {{#each character.items as |item|}}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.weight }}</td>
          <td><button class="btn btn-danger"{{ action 'removeItem' item }}>remove</button></td>
        </tr>

      {{/each}}
    </table>
   {{else}}
     <div> RUN AWAY!! no items...</div>
   {{/if}}
</div>

</section>

<button type = "button" class="btn btn-primary btn-lg btn-block" {{action 'increaseStat' 'level' }}>Level Up!</button>
