<div class ="row">
  <div class="col-sm-3">
    <div class="row">

      <span class="col-sm-3"><span class = lead>Name</span>: {{ character.name }}</span>
      <span class="col-sm-3"><span class = lead>Class</span>: {{ character.className }}</span>
     </div>
      <div class="row">

      <span class="col-sm-3"><span class = lead>Health</span>: {{ character.maxHealth }}</span>
      <span class="col-sm-3"><span class = lead>MANA</span>: {{ character.maxMana }}</span>
     </div>


  </div>


  <div class="col-sm-3">

    <table class="table table-striped">
      <tbody>
        <tr>
          <tb><em><strong>strength</strong></em>:</tb>
        </tr>
        <tr>
          <tb><button class="btn btn-warning" {{action 'decreaseStat' 'strength'}}>--</button></tb>
          <tb>{{ character.strength }}</tb>
          <tb><button class="btn btn-success"{{action 'increaseStat' 'strength'}}>++</button></tb>
        </tr>

        <tr>
        <tb><em><strong>wisdom</strong></em>:</tb>
        </tr>
        <tr>
          <tb><button class="btn btn-warning" {{action 'decreaseStat' 'wisdom'}}>--</button></tb>
          <tb>{{ character.wisdom }}</tb>
          <tb><button class="btn btn-success"{{action 'increaseStat' 'wisdom'}}>++</button></tb>
        </tr>

        <tr>
        <tb><em><strong>dexterity</strong></em>:</tb>
        </tr>
        <tr>
          <tb><button class="btn btn-warning" {{action 'decreaseStat' 'dexterity'}}>--</button></tb>
          <tb>{{ character.dexterity }}</tb>
          <tb><button class="btn btn-success"{{action 'increaseStat' 'dexterity'}}>++</button></tb>
        </tr>

        <tr>
        <tb><em><strong>constitution</strong></em>:</tb>
        </tr>
        <tr>
          <tb><button class="btn btn-warning" {{action 'decreaseStat' 'Constitution'}}>--</button></tb>
          <tb>{{ character.constitution }}</tb>
          <tb><button class="btn btn-success"{{action 'increaseStat' 'Constitution'}}>++</button></tb>
        </tr>

        <tr>
        <tb><em><strong>charisma</strong></em>:</tb>
        </tr>
        <tr>
          <tb><button class="btn btn-warning" {{action 'decreaseStat' 'charisma'}}>--</button></tb>
          <tb>{{ character.charisma }}</tb>
          <tb><button class="btn btn-success"{{action 'increaseStat' 'charisma'}}>++</button></tb>
        </tr>

        <tr>
        <tb><em><strong>intelligences</strong></em>:</tb>
        </tr>
        <tr>
          <tb><button class="btn btn-warning" {{action 'decreaseStat' 'int'}}>--</button></tb>
          <tb>{{ character.int }}</tb>
          <tb><button class="btn btn-success"{{action 'increaseStat' 'int'}}>++</button></tb>
        </tr>


      </tbody>
     </table>


  </div>

  <div class="col-sm-3">
<div>
  Items:
</div>
<div>
  <button {{ action 'addItem' }}>add</button>
  {{#if hasItems}}
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Weight</th>
        <th>&nbsp;</th>
      </thead>

      <tbody>

      {{#each character.items as |item|}}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.weight }}</td>
          <td><button class="btn btn-danger"{{ action 'removeItem' item }}>remove</button></td>
        </tr>

      {{/each}}
      </tbody>
    </table>
   {{else}}
     <div> RUN AWAY!! no items...</div>
   {{/if}}
</div>

  </div>
</div>


<button type = "button" class="btn btn-primary btn-lg btn-block" {{action 'increaseStat' 'level' }}>Level Up!</button>
<button type = "button" class="btn btn-primary btn-lg btn-block" {{action 'addCharacter'}}>new char</button>
<button type = "button" class="btn btn-primary btn-lg btn-block" {{action 'deleteCharacter' character}}>delete</button>

      {{#each characters as |character|}}
          <span>
          <button class="btn" {{action 'changeCharacter' character}}>

            {{ character.name }} {{character.level}}

          </button>
          </span>

      {{/each}}

